:root {
  --color-menu: #495079;
  --color-menu_border: #07070a;
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("https://images.squarespace-cdn.com/content/v1/54ecfc32e4b0866fef096797/1631035242033-UNF08042GIQECBB1U6ZQ/Instagram-9+%281%29.JPG");
  background-size: cover;
  background-position: center;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#bottom-menu {
  border-top: 5px solid var(--color-menu_border);
  background-color: var(--color-menu);
}

#top-menu {
  height: 70px;
  border-bottom: 5px solid var(--color-menu_border);
  background-color: var(--color-menu);
}

#top-menu .navbar-brand, #top-menu .dropdown-toggle,
#bottom-menu {
  color: white;
}
#top-menu .dropdown-toggle {
  font-size: 20px;
}