@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-menu: #695191;
  --color-menu_border: #ebebeb;
  --bg_url: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6cslaBD8OX-IE-ByPTjs0gV83bYb7byA_DQ&s");
  --font-style1: 'Roboto Slab';
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: var(--bg_url);
  background-size: cover;
  background-position: center;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#bottom-menu {
  border-top: 5px solid var(--color-menu_border);
  background-color: var(--color-menu);
  font-family: var(--font-style1);
}

#top-menu {
  height: 70px;
  border-bottom: 5px solid var(--color-menu_border);
  background-color: var(--color-menu);
  font-family: var(--font-style1);
}

#top-menu .navbar-brand, #top-menu .dropdown-toggle,
#bottom-menu {
  color: white;
}
#top-menu .dropdown-toggle {
  font-size: 20px;
}

.image-text-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#left-images{
  width: 250px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(78, 30, 30);
}

.below-image-text {
  margin-top: 10px;
  text-align: center;
}

.right-side {
  flex: 1;
  font-family: var(--font-style1);
  color: white;

}
@media (max-width: 1000px) {
  .collapse.show {
  border: 5px solid var(--color-menu_border);
  margin-top: 10px;
  } 
  #bottom-menu {
    font-size: 10px;
  }
}

.dropdown-menu.show {
  background-color: var(--color-menu);
  border: .5px solid rgb(213, 213, 213);
  margin-right: 10px;
  margin-bottom: 5px;
}
.dropdown-item {
  color: white !important;
}


.navbar-collapse {
  background-color: var(--color-menu);
  padding-left: 10px;
}
.navbar-toggler {
  background-color: var(--color-menu_border) !important;

}