html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#bottom-menu {
  border-top: 5px solid rgb(54, 52, 64);
  background-color: rgb(81, 79, 91);
}

#top-menu {
  height: 70px;
  border-bottom: 5px solid rgb(54, 52, 64);
  background-color: rgb(81, 79, 91);
}
